<% if @u.errors.full_messages.any? %>
  <div class="ls-alert-info ls-dismissable">
    <span data-ls-module="dismiss" class="ls-dismiss">&times;</span>
    <p>Você deve informar todos os dados do usuário</p>
  </div>
<% end %>
<div class="ls-box ls-md-space ls-box-gray">
  <h2>Cadastrar Novo Usuário</h2>
  <hr>
<%= form_for @u do |f| %>
  <table class="ls-table">
    <tr>
      <td><%= f.label :name, 'Nome' %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :email, 'E-mail' %></td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td><%= f.label :cpf, 'CPF' %></td>
      <td><%= f.text_field :cpf %></td>
    </tr>
  </table>
  <%= f.submit 'Cadastrar' %>
<% end %>
</div>

<%= link_to 'Voltar', root_path %>