<h1>Bem-vindo ao sistema de trocas de moedas</h1>
<br>
<h2>Lista de Transações</h2>
<% if @transactions.empty? == false %>
<table>
	<tr>
		<th>Identificador</th>
		<th>Quantidade</th>
		<th>Moeda</th>
		<th>Tipo</th>
		<th>Total</th>
	</tr>
	<% @transactions.each do | t | %>
	<tr>
		<td><%= link_to t.id, t %></td>
		<td><%= t.amount %></td>
		<td><%= t.currency == 'dollar' ? 'Dólar' : 'Real' %></td>
		<td><%= t.transaction_type == 'sell' ? 'Venda' : 'Compra' %></td>
		<td><%= t.calculate_total %></td>
	</tr>
	<% end %>
</table>
<% else %>
<p>Você ainda não possui transações cadastradas</p>
<% end %>