<% if @t.respond_to? :errors %>
  <ul>
    <p>Você deve informar todos os dados da transação</p>
  </ul>
<% end %>

<%= form_for @t do |f| %>
  <%= f.label :amount, 'Quantidade' %>
  <%= f.text_field :amount %>
  <%= f.label :currency, 'Moeda' %>
  <%= f.select :currency, @currencies %>
  <%= f.label :quotation, 'Cotação' %>
  <%= f.text_field :quotation %>
  <%= f.label :transaction_type, 'Tipo' %>
  <%= f.select :transaction_type, @types %>
  <%= f.submit 'Cadastrar' %>
<% end %>

<%= link_to 'Voltar', root_path %>
