<div class="ls-box ls-md-space ls-box-gray">
	<table class="ls-table ls-sm-space">
		<thead>
			<tr>
				<td><h3>Identificador</h3></td>
				<td><h3>Usuário</h3></td>
				<td><h3>Quantidade</h3></td>
				<td><h3>Moeda</h3></td>
				<td><h3>Cotação</h3></td>
				<td><h3>Tipo</h3></td>
				<td><h3>Data</h3></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><p><%= @t.id %></p></td>
				<td><p><%= @t.user.email %></p></td>
				<td><p><%= @t.amount %></p></td>
				<td><p><%= @t.currency_translated %></p></td>
				<td><p><%= number_to_currency(@t.quotation, format: '%u %n', negative_format: '%u -%n') %></p></td>
				<td><p><%= @t.transaction_type_translated %></p></td>
				<td><p><%= @t.created_at.strftime('%d/%m/%Y') %></p></td>
			</tr>
		</tbody>
	</table>
	<div class="ls-box ls-md-space ls-box-gray">
		<h3>Total</h3>
		<p target=<%= @t.calculate_total <= 0 ? 'negative' : 'positive' %>><%= number_to_currency(@t.calculate_total, format: '%u %n', negative_format: '%u -%n') %></p>
	</div>
</div>

<%= link_to 'Apagar', transaction_path(@t), method: :delete, data: { confirm: 'Quer mesmo apagar essa transação?' } %>
 | <%= link_to 'Editar', edit_transaction_path %> |
<%= link_to 'Voltar', root_path %>