<h2>Lista de Transações</h2>
<% if @transactions.empty? %>
	<p>Você ainda não possui transações cadastradas.</p>
<% else %>
	<table>
		<tr>
			<th>Identificador</th>
			<th>Quantidade</th>
			<th>Moeda</th>
			<th>Tipo</th>
			<th>Total</th>
		</tr>
		<% @transactions.each do | t | %>
		<tr>
			<td><%= link_to t.id, t %></td>
			<td><%= t.amount %></td>
			<td><%= t.currency_translated %></td>
			<td><%= t.transaction_type_translated %></td>
			<td><%= number_to_currency(t.calculate_total, format: '%u %n', negative_format: '%u -%n') %></td>
		</tr>
		<% end %>
	</table>
<% end %>

<%= link_to 'Voltar', root_path %>